// reset
@import './config/reset';


body {
    background-color: #f5f6fa;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}


section {
    padding: 56px 0;
}

// header
@import './section/header';

// produtos 
@import './section/products';

//resposivo
@import './config/responsive'